<!DOCTYPE html>
<html>
<head>
    <title>Notes Keeper</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <nav>
            <label class="title" style="color: white; font-size: xx-large; align-self: center;padding-right: 74%;">Notes Keeper</label>
            <a href="{{ url_for('register') }}">
                <button>Register</button>
            </a>
            <a href="{{ url_for('login') }}">
                <button>Login</button>
            </a>
        </nav>
    </header>
    <div class = "container">
        <section class="card">
            <b>Login</b>
            <br><br>
            <form method="post">
                <fieldset>
                    <label>Username: </label> <input type="text" name="username" placeholder="Enter your Username" required> <br>
                    <label>Password: </label> <input type="password" name="password" placeholder="Enter your Password" required> <br>
                    {% if error %}
                    <p class="error">{{ error }}</p>
                    {% endif %} <br>
                </fieldset>
                <button type="submit" class="submit">Login</button>
            </form>
            <br>
            New here? <a href="{{ url_for('register') }}">Register Now</a>
        </section>
    </div>
</body>
</html>